			body {
				background-color:2B7E9A;
				color:011B24;
				font-family: Candara, Arial, Sans-Serif;
			}
			
			h1 {
				text-align:center;
				font-size:2.5em;
			}
			h2 {
				margin-left:30px;
				margin-right:30px;
				text-decoration:underline;
				font-size:2em;
			}
			p, li {
				font-size:1.35em;
				margin-left:30px;
				margin-right:30px;
			}
			.header {
				background-color:011B24;
				color: 5AADC8;
				padding: 15px 0px 35px 0px;
				margin:auto;
				width:85%;
				height:8%;
			}
			.links {
				background-color:03485F;
				color: 5AADC8;
				padding: 15px 0px 35px 0px;
				margin:auto;
				width:85%;
				height:8%;
				text-align:center;
				font-size: 1.75em;
			}
			.links a:link, .links a:visited, .links a:hover, .links a:active, .links a:focus {
				text-decoration:none;
				font-weight:bold;
				color:011B24;
			}
			#main-heading {
				font-size:4em;
				margin-top: auto;
			{
			#imageSlideshow {
				background-color: 03485F;
				padding: 8px 8px 8px 8px;
			}
			#image {
				display:block;
				margin:auto;
			}
			.captionStyle {
				text-align: center;
				color: 5AADC8;
			}

				
